a{
    color: #000000;
}

a:hover{
    color: #ffffff;
}

.courseHead {
    margin: 10px 0;
    font-size: 20px;
}

.courseHead i {
    color: #f8bebb;
}

.listCourseBody {
    margin: 0 40px;
}

.listCourseTitle {
    font-size: 16px;
    font-weight: 600;
}

.couseList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.courseListBtn {
    border-radius: 25px;
    padding: 12px 10px;
    cursor: default;
    border: 2px solid #e4e4e4;
    outline: none;
    transition: 0.5s linear;
}
.courseListBtn i {
    color: #f9d678;
}
.courseListBtn span {
    font-weight: 500;
}

.courseListBtn:hover {
    border: 2px solid #113d3c;
    filter: brightness(110%);
    transform: scale(0.98);
}

/* Card list course */
.cardListBody {
    padding: 50px;
}

.cardListBody .cardListCourse {
    border-radius: 35px;
}

/* imgCard list */
.cardListBody .cardListCourse > img {
    border-radius: 35px 35px 0 0;
}

/* Icon card */
.iconStudent {
    color: #01877e;
}

.iconHeart {
    color: rgb(248 5 5);
    font-size: 20px;
}

/* Card list stiker  */

.cardListBody .cardListStiker {
    top: 20px;
}

/* Course list footer */
.courseListFooter {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
/* Load BTN */
.loadBtn {
    border: 2px dashed #113d3c;
}

.wrapperBtn {
    position: relative;
    
}

.btnLoad {
    display: block;
    position: relative;
    padding: 10px 20px;
    background: #01877e;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    /* letter-spacing: 2px; */
}

.btnLoad:before,
.btnLoad:after {
    position: absolute;
    content: "";
    transition: all 0.25s;
}

.btnLoad:before {
    border-bottom: 2px solid #01877E;
    border-left: 2px solid #01877E;
    width: 10%;
    height: 33%;
    left: -10px;
    bottom: -10px;
}

.btnLoad:after {
    border-top: 2px solid #01877E;
    border-right: 2px solid #01877E;
    width: 10%;
    height: 33%;
    top: -10px;
    right: -10px;
}

.btnLoad:hover:before {
    width: 110%;
    height: 146%;
}

.btnLoad:hover:after {
    width: 110%;
    height: 145%;
}
