body {
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: "fontNumber";
    src: url(../../Assets/Fonts/Poppins/Poppins-Bold.ttf);
    font-style: normal;
}

p {
    margin: 0;
}

.homeTitle{
    padding: 16px 0;
    margin: 120px 0 40px;
}

.homeBody {
    padding: 0px 40px;
}

.homePagesSlider {
    border-radius: 8px;
    background: rgb(1, 135, 126);
    background: linear-gradient(270deg, rgba(1, 135, 126, 1) 0%, rgba(186, 182, 221, 1) 100%);
}

.sliderRight {
    display: flex;
    padding: 5px 0;
    justify-content: center;
}

.sliderLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textSlider {
    color: #000000;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 0;
}

.subTextSlider{
    font-size: 18px;
    font-weight: 500;
}

.textDiscrips {
    font-size: 16px;
    line-height: 10px;
    color: #000000;
}

.anime4 {
    width: 472px;
    position: absolute;
    top: 0;
    left: 10%;
    animation: animeSlider 5s linear infinite;
}

.anime1 {
    width: 472px;
    position: relative;
}

.anime3 {
    position: absolute;
    height: 400px;
    width: 472px;
    left: 0;
    bottom: -10%;
}
/* Animation for Slider Home */
@keyframes animeSlider {
    0% {
        transform: translateY(-15px);
    }
    25% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(-15px);
    }
}

/* Course css card */
.cardHome {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    min-height: 425px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    box-shadow: 8px 8px 6px -2px #d4d4d4;
    transition: all 0.5s;
}
.cardHome:hover {
    transform: translateY(-2px);
}

.cardHomeBody {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 10px;
}

.cardStiker{
    position: absolute;
    padding: 0px 5px;
    top: 5px;
    left: -5px;
    color: #fff;
    background-color:#01877E ;
}

.cardStiker::after{
    content: '';
    position: absolute;
    border-top: 5px solid #01877E;
    border-left: 5px solid transparent;
    left: 0%;
    bottom: -5px;
    filter: brightness(70%);
}

.cardStiker i{
    color: #F9D678;
}

/* image Card */
.imgCard {
    height: 250px;
}

.imgCardFooter {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.textCard {
    font-size: 16px;
}

.textCardTitle {
    font-size: 15px;
    font-weight: 500;
}

.priceTitle {
    font-weight: 700;
    color: rgb(234, 76, 137);
    font-size: 16px;
}

.divGlobal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.line {
    border-bottom: 2px solid #c7c7c7;
}

/* Icon card */
.iconOclock {
    color: #f9d678;
}

.iconCalendar {
    color: #f8bebb;
}
.iconLevel {
    color: #b6ddda;
}
.ant-rate {
    font-size: 14px;
}

.ant-rate-disabled .ant-rate-star:hover {
    transform: scale(1.1);
}
/* Count up Number */
.boxNumberBody {
    display: flex;
    padding: 80px 10px;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
    background: rgb(1, 135, 126);
    background: linear-gradient(270deg, rgba(1, 135, 126, 1) 0%, rgba(186, 182, 221, 1) 100%);
}

.boxNumber {
    width: 200px;
    text-align: center;
}

.textNumber {
    font-family: fontNumber;
    color: #ffffff;
    font-size: 50px;
}

.textNumberTitle {
    font-size: 18px;
    font-weight: 500;
}

/* Img icon Box */
.imgIcon {
    width: 80px;
    height: 80px;
}


